.about {
  border-top: 1px solid var(--color-foreground);
  border-bottom: 1px solid var(--color-foreground);
  color: var(--color-foreground);
  padding: 10px;
  margin: 20px 0;
  font-family: "Inter", sans-serif;
}

.collab {
  background-color: var(--color-ring);
  width: fit-content;
  display: flex;
  gap: 20px;
  padding: 8px 20px;
  border-radius: 15px;
}
